html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}
div > .divFondo {
    height: 100%;
}
.divFondo {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divContenedor > h1 {
    margin:0
}